@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
::-webkit-scrollbar{
    width:5px;
}
::-webkit-scrollbar-track{
    background:transparent ;   
}
::-webkit-scrollbar-thumb{
    background: grey;
}
.menu{
    border-radius: 50%;
}
.menu :hover{
    background-color:#f2f2f2;
}
.logo{
    width:100px;
}
.left{
    padding: 15px;
}
.right{
    padding: 15px;
}
.bar{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding:10px;
    width:30rem;
    border:1px solid grey;
}
.search{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding:6px;
    width:3rem;
    border:1px solid grey;
    border-left: none;
    background-color: #f2f2f2;
}
.voice{
    border-radius: 50%;
    background-color: #f2f2f2;
    padding:8px;
    margin-left: 1rem;
}
.acc-img{
    border-radius: 50%;
    width:2rem;
    height:2rem;
}
main{
    padding-left:2rem;
    padding-right:2rem;
    padding-top:1rem;
    padding-top:1rem;
}
.vid{
    border-radius: 1rem;
}
.title{
    margin-top: .5rem;
    font-weight: bold;
    font-size: 1.3rem;
}
.cname{
    font-size: 17px;
    font-weight: bold;
}
.subs{
    font-size: 12px;
    color: grey;
}
.channel{
    margin-left: 5px;
}
.cbar{
    margin-top: 5px;
    justify-content: space-between;
    width:1000px;
}
.subscribe{
    background-color:black;
    color:white;
    margin-left: 1rem;
    border-radius: 3rem;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom:10px;
    font-size: 15px;
}
.b{
    background-color: #f2f2f2;
    border-radius: 2rem;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.b:hover{
    cursor: pointer;
}
.right2{
    gap:10px;
}
.description{
    background-color: #f2f2f2;
    margin-top: 1rem;
    width:980px;
    padding:10px;
    border-radius: 1rem;
}
.nav-bar{
    height: 3rem;
    align-items: center;
}
.nav{
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
}
.nav1{
    background-color: #000000;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
}
.vids{
    margin:5px;
    margin-top:10px;
    align-items:start;
}
.thum{
    width:200px;
    height:120px;
    border-radius: 1rem;
}
.title{
    font-size: 15px;
}
.cname{
    font-size: 12px;
    font-weight:normal;
    color:#060606;
}
.videos{
    overflow: hidden;
    overflow-y: scroll;
}
